@use '../../base-styles/base-styles.scss' as base;
@use '../../base-styles/theme-colors.styles.scss';

.custom-button {
  padding: 1rem;
  background-color: var(--important-object-colour);
  color: var(--important-object-text-colour);
  font-size: inherit;
  font-family: inherit;
  font-weight: bolder;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--important-object-colour);
  }
}
