@use '../../base-styles/base-styles.scss' as base;
@use '../../base-styles/theme-colors.styles.scss';

.home-page-container {
    min-height: 100rem;
    height: 150rem;
    margin-top: 6rem;
    position: relative;
    z-index: 0;
    background-color: var(--page-background-colour);

    @media (max-height: 500px) and (min-width: 770px){
        height: 100vh;
    }

    @media (min-width: 1200px){
        height: 110rem;
    }
}

.decor {
    @include base.widthAndHeight(100vw, 100%);
    position: fixed;
    top: 6rem;
    left: 0;
    z-index: 0;
    padding: 2rem;
    background: linear-gradient(89deg, var(--important-object-colour), var(--page-text-colour) 98%);
    clip-path: polygon(100% 0, 100% 62%, 49% 70%, 0 90%, 0 0);

    @media (min-height: 1000px){
        height: 75%;
    }

    @media (min-height: 1400px){
        height: 85%;
    }
}

.intro-card {
    width: 90%;
    min-height: 50rem;
    padding: 2rem;
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(white, 0.5);
    backdrop-filter: blur(0.25rem);
    border-radius: 5px;
    box-shadow: 4px 2px 8px 0 rgba(black, 0.23);

    @media (min-width: 1000px){
        top: 9%;
    }

    @media (min-width: 1200px){
        width: 72%;
        left: 14%;
    }

    @media (min-width: 1500px){
        width: 100rem;
        left: calc((100% - 100rem) / 2);
    }

    @media (max-height: 500px){
        top: 10%;
    }
}

.intro-item {
    display: flex;
    flex: 1 1 35rem;

    @media (min-width: 1500px){
        flex: 1 1 40rem;
    }
}
    .pic-wrapper {
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @media (min-width: 700px){
            justify-content: space-evenly;
        }

        img {
            @include base.widthAndHeight(90%, 70%);
            border-radius: 7px;
            object-fit: cover;
            background-position: center;
        }
    }

    .intro-actions-container {
        width: 90%;
        height: 5rem;
        display: flex;
        justify-content: space-around;

        @media (min-width: 600px){
            height: 7rem;
        }

        @media (max-width: 330px){
            width: 100%;
            justify-content: space-between;
        }

        a {
            height: 4rem;
            padding: 0 2rem;
            display: grid;
            place-items: center;
            border-radius: 5px;
            text-decoration: none;
            background-color: var(--important-object-colour);
            color: var(--important-object-text-colour);

            &:hover,
            &:focus {
                outline: none;
                box-shadow: 0 0 5px 2px rgba(black, 0.3),
                            0 0 5px 3px rgba(black, 0.6);
            }
        }
    }

    .socials-container {
        @include base.widthAndHeight(100%, 4rem);
        margin-top: 1.5rem;
        justify-content: center;

        .socials-wrapper {
            @include base.widthAndHeight(50%, 100%);
            display: inherit;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 400px){
                width: 75%;
            }

            a {
                height: 100%;
                display: grid;
                place-items: center;

                &:hover,
                &:focus {
                    outline: none;
                    filter: drop-shadow(0 0 5px var(--important-object-colour));
                }

                svg {
                    @include base.widthAndHeight(3.3rem, 3.3rem);
                    fill: var(--page-text-colour);
                }
            }
        }

    }

.about-container{
    width: 45%;
    margin-top: 2rem;
    flex-direction: column;
    // background-color: var(--page-background-colour);
    color: black;

    .page-title {
        text-align: center;
        margin-bottom: 2rem;
        font-weight: normal;

        .highlight {
            transition: color 300ms ease-in;
            color: var(--important-object-colour);
        }
    }
}

.other-items-container {
    width: 95%;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media (max-height: 600px){
        bottom: 3%;
    }

    @media (max-width: 360px){
        bottom: 8%;
    }

    @media (max-width: 300px){
        bottom: 0;
    }

    @media (min-height: 1000px){
        bottom: 10%;
    }

    @media (max-width: 740px){
        justify-content: center;
    }

    @media (min-width: 1300px){
        width: 60%;
    }

    @media (min-width: 1800px){
        width: 100rem;
    }

    a {
        padding: 1rem;
        border-radius: 0.6rem;
        background-color: #514849;
        color: #fff;
        text-decoration: none;

        @media (max-width: 740px){
            margin-top: 2rem;
        }

        @media (max-width: 360px){
            display: none;
        }

        &:hover,
        &:focus {
            outline: none;
            box-shadow: 0 0 5px 2px rgba(black, 0.3),
                            0 0 5px 3px rgba(black, 0.6);
        }
    }
}

.greet {
    animation: shake 650ms ease;

    @media (min-width: 1200px){
        animation: shake 650ms 500ms ease forwards;
    }

    @media (min-width: 1500px){
        animation: shake 650ms 500ms ease forwards;
    }
}

.intro-card-animation-off {
    transform: translateX(-50%);
}

.dark-theme {
    .decor {
        background: linear-gradient(-89deg, #777, #666);
    }

    .intro-card {
        background-color: rgba(#514849, 0.4);
    }

    .about-container {
        color: var(--page-text-colour);
    }

    .other-items-container {
        a {
            background-color: gray;
            color: black;
        }
    }
}

@keyframes shake {
    25% {
        transform: rotate(-6deg);
    }
    50% {
        transform: rotate(6deg);
    }
    75% {
        transform: rotate(-6deg);
    }
    90% {
        transform: rotate(6deg);
    }
    100% {
        transform: rotate(0);
    }
}