@use '../../base-styles/base-styles.scss' as base;
@use '../../base-styles/theme-colors.styles.scss';

@mixin shrinkLabel {
    top: -1.3rem;
    font-size: 1.2rem;
}

.form-group {
    width: 100%;
    position: relative;
}

.form-input {
    @include base.widthAndHeight(100%, 4rem);
    padding: 0 2rem;
    border: none;
    border-radius: 1.6rem;
    background-color: var(--p-elevated);
    color: var(--p-muted);
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    transition: box-shadow 300ms ease-out;

    &:focus, &:hover {
        outline: none;
        box-shadow: 0 2px 4px inset rgba(0, 0, 0, 0.4);
    }

    &:focus ~ .form-input-label {
        @include shrinkLabel;
    }
}

.form-input-label {
    position: absolute;
    top: 2rem;
    left: 5%;
    transform: translateY(-50%);
    transition: top 300ms ease, font-size 300ms ease;
    color: var(--p-muted);
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;

    &.shrink {
        @include shrinkLabel;
    }

    .required-symbol {
        color: var(--important-object-colour);
    }
}

.form-group {
    textarea {
        height: unset;
        padding: 2rem;
    }
}