@use './base-styles/theme-colors.styles.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: color 100ms ease-in,
				background-color 300ms ease-in,
				background 300ms ease-in,
				box-shadow 300ms ease;
}

.App {
	min-height: 100vh;
	font-family: 'Noto Sans JP', sans-serif;
	overflow: hidden;
}